#       Movie Recommendation System

## Objective

To utilize movieLens Dataset(https://grouplens.org/datasets/movielens/latest/) and Perform Analytics and Machine Learning for Following Tasks:

-    **Task 1: To Determine Top 10 Trending Movies Of All Time**
-    **Task 2: To Recommend Movies based on Ratings Provided by the users**
-    **Task 3: To Recommend Movies based on other similar user's viewing experience**

we will break these tasks into further sub-tasks

### Importing Necessary Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import re


%matplotlib inline

### Reading csv files into project

In [2]:
ratingData = pd.read_csv('Dataset/ratings.csv')

moviesData = pd.read_csv('Dataset/movies.csv')

In [3]:
ratingData.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
moviesData.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

## Task 1: To Determine Top 10 Trending Movies of All TIme
To solve this task we need to perform some sub-tasks like:
-   **Merging Rating.csv and Movies.csv**
-   **Splitting Release Year from Movie Name**
-   **Generating Rating Score based on Release Year and no of ratings**
-   **Generating Trending Score Based on Rating Score and Avg. Rating**

### Merging Ratings and Movies Dataset on MovieId as Common

to Perform this task we will use **merge** function of Pandas Library which merge two Dataframes on a common key.

In [5]:
wholeData = pd.merge(ratingData,moviesData,on="movieId")
wholeData.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

### Splitting Release Year from title and storing it in new column
to perform this we will use **split** function of String